
    <h1>PROBANDO EXPRESS HANDLEBARS</h1>

    <form action="/cloth/add" method="POST">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    </form>